.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*折り返しあり*/
  justify-content: flex-start; /*左詰め*/
  margin: 0 auto;
}

.item {
  display: inline-block;
  width: 120px;
  height: 100px;
}

.item img {
  width: 120px;
  margin: 0;
  cursor: pointer;
}

p {
  test-align: center;
}
