.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*折り返しあり*/
  justify-content: flex-start; /*左詰め*/
}

.item {
  width: 80px;
  height: 100px;
  padding : 10px;
}

.item img {
  width: 60px;
  height 60px;
}

.item p {
  test-align: center;
}
