table {
    width: 1200px;
    max-width: 100%;
}
  
th, td {
    padding: 5px 15px;
    vertical-align: top;
}
  
th {
    text-align: right;
}
  
td {
    text-align: left;
}
  
p {
    padding: 30px;
}

.back {
    display: none;
}
