table {
    width: 1200px;
    max-width: 100%;
}
  
th, td {
    padding: 5px 15px;
}
  
th {
    padding-top: 5px;
    text-align: right;
    vertical-align: top;
}
  
td {
    text-align: left;
}
  
